[submodule "sass/colors"]
	path = sass/colors
	url = git://github.com/RichardBray/color-me-sass.git
[submodule "sass/zurb"]
	path = sass/zurb
	url = git@github.com:zurb/foundation.git
[submodule "textures"]
	path = textures
	url = git@github.com:subtlepatterns/SubtlePatterns.git
