/*
=Core
*/
body {
  margin: 0; padding: 0;
}

/* Remember to use normalize or a reset! */

body, input, textarea, button, form, select {
  font: 100%/1.5 $tahoma-font-stack;
  color: $medium-black;
  /* Inputs, forms, etc, can have weird font styles */
}

a, a:link, a:visited {
  text-decoration: none;
  color: $blueSky;
  border-bottom: thin solid transparent;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in);
}

a:hover, a:active, a:focus {
  border-bottom-color: $gray-light;
}
