// Core
body {
  margin: 0; padding: 0;
}
body, input, textarea, button, form, select {
  font: 100%/1.5 $tahoma-font-stack;
  color: $medium-black;
}
// For some reason Zurb Foundation is requiring this for the textarea to expand properly
textarea {
  height: inherit;
  //resize:vertical;
}
a, a:link, a:visited {
  text-decoration: none;
  color: $blueSky;
  border-bottom: thin solid transparent;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in);
}
a.button {
  color: white;
}
a:hover, a:active, a:focus {
  border-bottom-color: $gray-light;
}
