
/*** =FORM ***/

.ws-form { margin-top: -1.5em; }
input, textarea {
  // Use for styling text based form elements, like name, email, password.
  // Button/submit specific styles below, those will override
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .25em solid $soft-white;
  width: 100%;
  @include box-sizing(border-box);
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in);
  resize: none;
}
/*
input:focus, textarea:focus {
  outline: none;
  border-color: $blueSky;
}

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  border: .25em solid hsla(0,0%,0%,.1);
  color: $whiteSmoke;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in);
  display: block;
  margin-bottom: .75rem;
  &.rounded {
    border: none;
    padding: 1.1em 1.5em;
    @include border-radius(4px);
  }
}

input[type='button']:hover, input[type='submit']:hover, button:hover, .button:hover {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .1);
  border-color: hsla(0,0%,100%,.1);
}

input[type='button']:focus, input[type='submit']:focus, button:focus, .button:focus,
input[type='button']:active, input[type='submit']:active, button:active, .button:active {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .2);
}
*/

.button.primary {
  font-size: 1.125em;
  background-color: $blueSky;
}
.button.secondary {
  background-color: $orangeLight;
}
.button.tertiary {
  font-size: .875em;
  background-color: $gray-dark;
}
