// Body
/*
$body-bg: yellow;
$body-font-color: #222;
$body-font-family: Georgia, serif;
//$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// Colors
$primary-color: lightblue;
$secondary-color: lightgreen;
$alert-color: red;
$success-color: darkgreen;
// Heading font styles
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: #222;
*/

// $paragraph-font-family: inherit;
// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
/*
$primary-color: #73c2fb;
$secondary-color: #FF944D;
$alert-color: #dc143c;
$success-color: #82b548;
$body-bg: #f5f5f5;
$body-font-family: Tahoma, Geneva, Verdana, sans-serif;
$header-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
*/