// Typography

// Headings
h1, h2, h3, h4, h5, h6 {
    // Set defaults for all headings here, you might want to change fonts or sizes
    color: $black;
    font-weight: 400;
    font-family: $helvetica-font-stack;
}

// Overrides normalize with mono from font-stack
code,
kbd,
pre,
samp {
    font-family: $monospace-font-stack;
    @if $legacy-support-for-ie6 {
        _font-family: $monospace-font-stack;
    }
    @include adjust-font-size-to( 1 * $base-font-size );
}

.adj-1 { font-family: $futura-font-stack; }
.adj-2 { font-family: $bodoni-mt-font-stack; }
.adj-3 { font-family: $cursive-font-stack; }
.adj-4 { font-family: $franklin-gothic-font-stack; }
.adj-5 { font-family: $helvetica-font-stack; }
.adj-6 { font-family: $baskerville-font-stack; }

// So that our dropdown fonts don't change as we select new fonts
*[class*='select2'] {
    font-family: $tahoma-font-stack;
}
